<!DOCTYPE root[<!ELEMENT Contact ANY>
<!ATTLIST Contact id ID #REQUIRED>
 
<!ELEMENT Common ANY>
<!ATTLIST Common id ID #REQUIRED>
<!ELEMENT Frontend ANY>
<!ATTLIST Frontend id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT item ANY>
<!ATTLIST item id ID #REQUIRED>
<!ELEMENT Page ANY>
<!ATTLIST Page id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1101" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-02-08T22:31:21" updateDate="2014-02-08T22:32:23" nodeName="Home" urlName="home" path="-1,1101" isDoc="" nodeType="1096" creatorName="Trang NNK" writerName="Trang NNK" writerID="0" template="1100" nodeTypeAlias="Home">
    <title />
    <description><![CDATA[]]></description>
    <kewords><![CDATA[]]></kewords>
    <Common id="1102" parentID="1101" level="2" creatorID="0" sortOrder="0" createDate="2014-02-09T11:13:58" updateDate="2014-02-09T11:14:33" nodeName="Items" urlName="items" path="-1,1101,1102" isDoc="" nodeType="1097" creatorName="Trang NNK" writerName="Trang NNK" writerID="0" template="0" nodeTypeAlias="Common">
      <item id="1123" parentID="1102" level="3" creatorID="0" sortOrder="1" createDate="2014-02-09T18:17:52" updateDate="2014-02-10T15:06:37" nodeName="Street life" urlName="street-life" path="-1,1101,1102,1123" isDoc="" nodeType="1098" creatorName="Trang NNK" writerName="Trang NNK" writerID="0" template="1120" nodeTypeAlias="item">
        <category />
        <image>/media/1008/portrait-of-a-happy-young-girl-with-skateboard.jpg</image>
        <picture01>/media/1009/1321987121closeup-of-a-beautiful-young-girl-looking-away.jpg</picture01>
        <picture02>/media/1010/portrait-of-a-happy-young-girl-with-skateboard.jpg</picture02>
        <picture03>/media/1011/closeup-portrait-of-a-happy-young-girl.jpg</picture03>
        <picture04>/media/1012/portrait-of-a-young-lady-with-headphones221.jpg</picture04>
        <picture05 />
        <picture06 />
        <picture07 />
        <tags><![CDATA[]]></tags>
        <content><![CDATA[<p><span>Aliquam purus lacus, tempor ut viverra a, bibendum ut augue. Donec lacinia volutpat lectus a condimentum. Curabitur ut velit eget dui eleifend ultricies id in turpis. Nunc interdum felis ac nibh commodo congue. Quisque dolor justo, consectetur eget malesuada sit amet, volutpat a lectus.</span></p>]]></content>
        <imageCropped>
          <crops date="2014-02-09T11:19:45" ignoreICC="false">
            <crop name="w290" x="0" y="0" x2="950" y2="658" width="290" height="200" url="/media/1008/portrait-of-a-happy-young-girl-with-skateboard_w290.jpg" newurl="/media/1008/286d7dfa11e46788f438f5d1d12f0e20_HASHEDCROP.jpg" />
          </crops>
        </imageCropped>
        <picture01Cropped>
          <crops date="2014-02-09T11:19:45" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="1378" y2="950" width="870" height="600" url="/media/1009/1321987121closeup-of-a-beautiful-young-girl-looking-away_h600.jpg" newurl="/media/1009/65da994a5f9943a141674348a3134265_HASHEDCROP.jpg" />
          </crops>
        </picture01Cropped>
        <picture02Cropped>
          <crops date="2014-02-09T11:19:45" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="658" width="866" height="600" url="/media/1010/portrait-of-a-happy-young-girl-with-skateboard_h600.jpg" newurl="/media/1010/584d7cb4c43a14046e144c4b3022793a_HASHEDCROP.jpg" />
          </crops>
        </picture02Cropped>
        <picture03Cropped>
          <crops date="2014-02-09T11:19:45" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="663" width="859" height="600" url="/media/1011/closeup-portrait-of-a-happy-young-girl_h600.jpg" newurl="/media/1011/f4433f688d589f4769833c2f61f7f8ea_HASHEDCROP.jpg" />
          </crops>
        </picture03Cropped>
        <picture04Cropped>
          <crops date="2014-02-09T11:19:45" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="804" y2="950" width="507" height="600" url="/media/1012/portrait-of-a-young-lady-with-headphones221_h600.jpg" newurl="/media/1012/4060d3d8589343d08f7db350ec6d8380_HASHEDCROP.jpg" />
          </crops>
        </picture04Cropped>
        <picture05Cropped><![CDATA[]]></picture05Cropped>
        <picture06Cropped><![CDATA[]]></picture06Cropped>
        <picture07Cropped><![CDATA[]]></picture07Cropped>
        <peeked>6</peeked>
        <viewed />
      </item>
      <item id="1124" parentID="1102" level="3" creatorID="0" sortOrder="2" createDate="2014-02-09T18:28:12" updateDate="2014-02-09T18:28:52" nodeName="Rocker's girlfriend" urlName="rockers-girlfriend" path="-1,1101,1102,1124" isDoc="" nodeType="1098" creatorName="Trang NNK" writerName="Trang NNK" writerID="0" template="1120" nodeTypeAlias="item">
        <category />
        <image>/media/1013/1322051499rockers-girlfriend.jpg</image>
        <picture01>/media/1014/1322051499rockers-girlfriend.jpg</picture01>
        <picture02>/media/1015/girl-with-streaming-hair.jpg</picture02>
        <picture03>/media/1016/glamorous-style.jpg</picture03>
        <picture04>/media/1017/glamorous-stylea.jpg</picture04>
        <picture05>/media/1018/rock-style.jpg</picture05>
        <picture06 />
        <picture07 />
        <tags><![CDATA[]]></tags>
        <content><![CDATA[<p><span>Morbi a lacus arcu, ac pharetra dui. Mauris vel risus nec nisi dignissim egestas. Sed sodales dui eget nunc sollicitudin sollicitudin. Vivamus convallis velit et erat pellentesque varius. Nulla facilisi. Donec vestibulum, dui in vulputate consectetur, neque justo suscipit elit, sed faucibus turpis nulla non libero. Curabitur aliquet mattis semper.</span></p>]]></content>
        <imageCropped>
          <crops date="2014-02-09T11:28:51" ignoreICC="false">
            <crop name="w290" x="0" y="0" x2="865" y2="950" width="290" height="318" url="/media/1013/1322051499rockers-girlfriend_w290.jpg" newurl="/media/1013/3720aba3ac23c32436b016cba27279cd_HASHEDCROP.jpg" />
          </crops>
        </imageCropped>
        <picture01Cropped>
          <crops date="2014-02-09T11:28:51" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="865" y2="950" width="546" height="600" url="/media/1014/1322051499rockers-girlfriend_h600.jpg" newurl="/media/1014/4b922fa2ded704f9b1d18074a6c91fa0_HASHEDCROP.jpg" />
          </crops>
        </picture01Cropped>
        <picture02Cropped>
          <crops date="2014-02-09T11:28:51" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="634" width="899" height="600" url="/media/1015/girl-with-streaming-hair_h600.jpg" newurl="/media/1015/e95cc84909f008940f7a426aff0c1166_HASHEDCROP.jpg" />
          </crops>
        </picture02Cropped>
        <picture03Cropped>
          <crops date="2014-02-09T11:28:51" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="632" y2="948" width="400" height="600" url="/media/1016/glamorous-style_h600.jpg" newurl="/media/1016/972b348d6eaea7c8db4b64cc68d67c75_HASHEDCROP.jpg" />
          </crops>
        </picture03Cropped>
        <picture04Cropped>
          <crops date="2014-02-09T11:28:51" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="1267" y2="950" width="800" height="600" url="/media/1017/glamorous-stylea_h600.jpg" newurl="/media/1017/e8c181737601a0a881c3aba02b04ab90_HASHEDCROP.jpg" />
          </crops>
        </picture04Cropped>
        <picture05Cropped>
          <crops date="2014-02-09T11:28:51" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="634" y2="950" width="400" height="600" url="/media/1018/rock-style_h600.jpg" newurl="/media/1018/b8288719f1f6d55f8c73830e739cb0a8_HASHEDCROP.jpg" />
          </crops>
        </picture05Cropped>
        <picture06Cropped><![CDATA[]]></picture06Cropped>
        <picture07Cropped><![CDATA[]]></picture07Cropped>
      </item>
      <item id="1125" parentID="1102" level="3" creatorID="0" sortOrder="3" createDate="2014-02-09T18:29:43" updateDate="2014-02-09T18:30:19" nodeName="Hair styles" urlName="hair-styles" path="-1,1101,1102,1125" isDoc="" nodeType="1098" creatorName="Trang NNK" writerName="Trang NNK" writerID="0" template="1120" nodeTypeAlias="item">
        <category />
        <image>/media/1019/portrait-of-woman1.jpg</image>
        <picture01>/media/1020/hot-beauty.jpg</picture01>
        <picture02>/media/1021/portrait-of-woman1.jpg</picture02>
        <picture03>/media/1022/woman-flinging-long-hair.jpg</picture03>
        <picture04>/media/1023/woman-with-exasperated-expression.jpg</picture04>
        <picture05 />
        <picture06 />
        <picture07 />
        <tags><![CDATA[]]></tags>
        <content><![CDATA[<p><span>Quisque sit amet neque magna, at porta magna. Quisque et lorem mauris. Proin faucibus aliquam turpis vel egestas. Ut interdum facilisis purus eget tincidunt. Mauris elementum metus sit amet neque blandit mattis. Integer libero mi, bibendum vel euismod ut, gravida ut leo. Quisque lorem arcu, tincidunt ac commodo quis, laoreet non nunc. Donec in ullamcorper mauris. In hac habitasse platea dictumst.</span></p>]]></content>
        <imageCropped>
          <crops date="2014-02-09T11:30:19" ignoreICC="false">
            <crop name="w290" x="0" y="0" x2="950" y2="634" width="290" height="193" url="/media/1019/portrait-of-woman1_w290.jpg" newurl="/media/1019/4d2c1fcea02eda6c7767905bbdae6f11_HASHEDCROP.jpg" />
          </crops>
        </imageCropped>
        <picture01Cropped>
          <crops date="2014-02-09T11:30:19" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="634" width="899" height="600" url="/media/1020/hot-beauty_h600.jpg" newurl="/media/1020/c0ce91e9ca0992dc843780eca00d3d0e_HASHEDCROP.jpg" />
          </crops>
        </picture01Cropped>
        <picture02Cropped>
          <crops date="2014-02-09T11:30:19" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="634" width="899" height="600" url="/media/1021/portrait-of-woman1_h600.jpg" newurl="/media/1021/19f29a5ac99fd1fbec15e6039a927e49_HASHEDCROP.jpg" />
          </crops>
        </picture02Cropped>
        <picture03Cropped>
          <crops date="2014-02-09T11:30:19" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="634" width="899" height="600" url="/media/1022/woman-flinging-long-hair_h600.jpg" newurl="/media/1022/701a0fefb2eef9563b160e401351405b_HASHEDCROP.jpg" />
          </crops>
        </picture03Cropped>
        <picture04Cropped>
          <crops date="2014-02-09T11:30:19" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="634" width="899" height="600" url="/media/1023/woman-with-exasperated-expression_h600.jpg" newurl="/media/1023/07dfcf6110e3fc7bb14b7bbf46f4e5ee_HASHEDCROP.jpg" />
          </crops>
        </picture04Cropped>
        <picture05Cropped><![CDATA[]]></picture05Cropped>
        <picture06Cropped><![CDATA[]]></picture06Cropped>
        <picture07Cropped><![CDATA[]]></picture07Cropped>
      </item>
      <item id="1111" parentID="1102" level="3" creatorID="0" sortOrder="3" createDate="2014-02-09T12:49:50" updateDate="2014-02-09T20:49:04" nodeName="Girl with sunglasses" urlName="girl-with-sunglasses" path="-1,1101,1102,1111" isDoc="" nodeType="1098" creatorName="Trang NNK" writerName="Trang NNK" writerID="0" template="1120" nodeTypeAlias="item">
        <category />
        <image>/media/1002/1322078133portrait-of-pretty-young-female-in-sunglasses.jpg</image>
        <picture01>/media/1003/1322078133portrait-of-pretty-young-female-in-sunglasses.jpg</picture01>
        <picture02>/media/1004/cute-young-female-looking-through-sunglasses.jpg</picture02>
        <picture03>/media/1005/portait-of-glamorous-young-female-model.jpg</picture03>
        <picture04>/media/1006/portrait-of-pretty-young-female-in-sunglasses2.jpg</picture04>
        <picture05>/media/1007/pretty-young-female-posing-with-sunglasses.jpg</picture05>
        <picture06 />
        <picture07 />
        <tags><![CDATA[đám hỏi,sự kiện]]></tags>
        <content><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget orci sed felis commodo sodales. <strong>Mauris</strong> condimentum dignissim orci, mollis suscipit est adipiscing eu. Etiam cursus lacinia turpis sit amet fringilla. Nulla facilisi. Fusce nulla turpis, mattis sit amet ornare at, pharetra eget erat.</span></p>]]></content>
        <imageCropped>
          <crops date="2014-02-09T08:25:31" ignoreICC="false">
            <crop name="w290" x="36" y="0" x2="873" y2="632" width="290" height="218" url="/media/1002/1322078133portrait-of-pretty-young-female-in-sunglasses_w290.jpg" newurl="/media/1002/1b364b3ca65616c129330aa5bb0467d4_HASHEDCROP.jpg" />
          </crops>
        </imageCropped>
        <picture01Cropped>
          <crops date="2014-02-09T06:25:39" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="633" width="900" height="600" url="/media/1003/1322078133portrait-of-pretty-young-female-in-sunglasses_h600.jpg" newurl="/media/1003/d6492c76afa2926f63a204cda52ad8a2_HASHEDCROP.jpg" />
          </crops>
        </picture01Cropped>
        <picture02Cropped>
          <crops date="2014-02-09T06:26:12" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="633" width="900" height="600" url="/media/1004/cute-young-female-looking-through-sunglasses_h600.jpg" newurl="/media/1004/ec92aea41c7b7abb0ed54b635cf979e6_HASHEDCROP.jpg" />
          </crops>
        </picture02Cropped>
        <picture03Cropped>
          <crops date="2014-02-09T06:26:12" ignoreICC="false">
            <crop name="h600" x="1" y="0" x2="633" y2="948" width="400" height="600" url="/media/1005/portait-of-glamorous-young-female-model_h600.jpg" newurl="/media/1005/8f0d5a939ab7582f55d1623562de82a0_HASHEDCROP.jpg" />
          </crops>
        </picture03Cropped>
        <picture04Cropped>
          <crops date="2014-02-09T06:26:12" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="684" width="833" height="600" url="/media/1006/portrait-of-pretty-young-female-in-sunglasses2_h600.jpg" newurl="/media/1006/96575e8c2be15ed1ec3cc0ffbf7960cf_HASHEDCROP.jpg" />
          </crops>
        </picture04Cropped>
        <picture05Cropped>
          <crops date="2014-02-09T06:26:12" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="632" y2="948" width="400" height="600" url="/media/1007/pretty-young-female-posing-with-sunglasses_h600.jpg" newurl="/media/1007/e0c2c31a1103ab5b388b61dcb6d9c92a_HASHEDCROP.jpg" />
          </crops>
        </picture05Cropped>
        <picture06Cropped><![CDATA[]]></picture06Cropped>
        <picture07Cropped><![CDATA[]]></picture07Cropped>
        <peeked>0</peeked>
        <viewed />
      </item>
      <item id="1126" parentID="1102" level="3" creatorID="0" sortOrder="4" createDate="2014-02-09T18:33:41" updateDate="2014-02-09T18:34:26" nodeName="Girl in veil" urlName="girl-in-veil" path="-1,1101,1102,1126" isDoc="" nodeType="1098" creatorName="Trang NNK" writerName="Trang NNK" writerID="0" template="1120" nodeTypeAlias="item">
        <category />
        <image>/media/1024/beautiful-blonde21.jpg</image>
        <picture01>/media/1025/girlinveil.jpg</picture01>
        <picture02>/media/1026/beautiful-blonde-11.jpg</picture02>
        <picture03>/media/1027/beautiful-blonde-in-vei2l.jpg</picture03>
        <picture04>/media/1028/beautiful-blonde-in-veil1.jpg</picture04>
        <picture05>/media/1029/beautiful-blonde-in-veil-11.jpg</picture05>
        <picture06>/media/1030/beautiful-curly-blonde1.jpg</picture06>
        <picture07>/media/1031/beautiful-curly-blonde2.jpg</picture07>
        <tags><![CDATA[]]></tags>
        <content><![CDATA[<p><span>Aenean ante magna, egestas sit amet egestas ut, scelerisque a felis. Aliquam augue tortor, ornare ut ornare et, aliquam vel est. Donec vehicula urna hendrerit arcu scelerisque dignissim. Sed venenatis metus vel odio congue eleifend.</span></p>]]></content>
        <imageCropped>
          <crops date="2014-02-09T11:34:19" ignoreICC="false">
            <crop name="w290" x="0" y="0" x2="773" y2="876" width="290" height="328" url="/media/1024/beautiful-blonde21_w290.jpg" newurl="/media/1024/8c34096c986ab8fa27386f2563b4ba6a_HASHEDCROP.jpg" />
          </crops>
        </imageCropped>
        <picture01Cropped>
          <crops date="2014-02-09T11:34:19" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="655" width="870" height="600" url="/media/1025/girlinveil_h600.jpg" newurl="/media/1025/eb71326d6dbdacf6b771782b631eb961_HASHEDCROP.jpg" />
          </crops>
        </picture01Cropped>
        <picture02Cropped>
          <crops date="2014-02-09T11:34:19" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="673" width="846" height="600" url="/media/1026/beautiful-blonde-11_h600.jpg" newurl="/media/1026/d244aa0e4624dfd58cac57f679fb94d2_HASHEDCROP.jpg" />
          </crops>
        </picture02Cropped>
        <picture03Cropped>
          <crops date="2014-02-09T11:34:19" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="633" y2="636" width="597" height="600" url="/media/1027/beautiful-blonde-in-vei2l_h600.jpg" newurl="/media/1027/8fe7c528219efb15f72922224448c13c_HASHEDCROP.jpg" />
          </crops>
        </picture03Cropped>
        <picture04Cropped>
          <crops date="2014-02-09T11:34:19" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="633" y2="950" width="399" height="600" url="/media/1028/beautiful-blonde-in-veil1_h600.jpg" newurl="/media/1028/f91f4bf81f9a1712e9cf3b8e782b1b3a_HASHEDCROP.jpg" />
          </crops>
        </picture04Cropped>
        <picture05Cropped>
          <crops date="2014-02-09T11:34:19" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="633" y2="950" width="399" height="600" url="/media/1029/beautiful-blonde-in-veil-11_h600.jpg" newurl="/media/1029/2eade0ea38768f0f9223da01628b1376_HASHEDCROP.jpg" />
          </crops>
        </picture05Cropped>
        <picture06Cropped>
          <crops date="2014-02-09T11:34:19" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="634" width="899" height="600" url="/media/1030/beautiful-curly-blonde1_h600.jpg" newurl="/media/1030/b8166c07379cd078cbe5a62d67bf361a_HASHEDCROP.jpg" />
          </crops>
        </picture06Cropped>
        <picture07Cropped>
          <crops date="2014-02-09T11:34:19" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="854" y2="950" width="539" height="600" url="/media/1031/beautiful-curly-blonde2_h600.jpg" newurl="/media/1031/106f9796a3c2e81594e7a44a1c46a6b1_HASHEDCROP.jpg" />
          </crops>
        </picture07Cropped>
      </item>
      <item id="1127" parentID="1102" level="3" creatorID="0" sortOrder="5" createDate="2014-02-09T18:36:30" updateDate="2014-02-09T18:37:14" nodeName="Retro women" urlName="retro-women" path="-1,1101,1102,1127" isDoc="" nodeType="1098" creatorName="Trang NNK" writerName="Trang NNK" writerID="0" template="1120" nodeTypeAlias="item">
        <category />
        <image>/media/1032/hat-and-dress.jpg</image>
        <picture01>/media/1033/retro-woman2.jpg</picture01>
        <picture02>/media/1034/hat-and-dress.jpg</picture02>
        <picture03>/media/1035/beautiful-blonde-in-vei2l.jpg</picture03>
        <picture04>/media/1036/beautiful-blonde-in-veil-11.jpg</picture04>
        <picture05 />
        <picture06 />
        <picture07 />
        <tags><![CDATA[]]></tags>
        <content><![CDATA[<p><span>Duis convallis nisi id felis tristique at interdum ligula varius. Cras tristique molestie justo eu condimentum. Praesent tortor sapien, sollicitudin eget faucibus non, pellentesque eget est. Quisque tristique eros at felis pellentesque dictum.</span></p>]]></content>
        <imageCropped>
          <crops date="2014-02-09T11:37:13" ignoreICC="false">
            <crop name="w290" x="0" y="0" x2="821" y2="950" width="290" height="335" url="/media/1032/hat-and-dress_w290.jpg" newurl="/media/1032/b92acee93a210fa6025057ceb4cd3eb1_HASHEDCROP.jpg" />
          </crops>
        </imageCropped>
        <picture01Cropped>
          <crops date="2014-02-09T11:37:13" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="894" y2="670" width="800" height="600" url="/media/1033/retro-woman2_h600.jpg" newurl="/media/1033/330f3cdc75c24632406a7801602502d9_HASHEDCROP.jpg" />
          </crops>
        </picture01Cropped>
        <picture02Cropped>
          <crops date="2014-02-09T11:37:13" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="821" y2="950" width="518" height="600" url="/media/1034/hat-and-dress_h600.jpg" newurl="/media/1034/61e5ac9eb513c0ba880ff3a39778782e_HASHEDCROP.jpg" />
          </crops>
        </picture02Cropped>
        <picture03Cropped>
          <crops date="2014-02-09T11:37:13" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="633" y2="636" width="597" height="600" url="/media/1035/beautiful-blonde-in-vei2l_h600.jpg" newurl="/media/1035/8fe7c528219efb15f72922224448c13c_HASHEDCROP.jpg" />
          </crops>
        </picture03Cropped>
        <picture04Cropped>
          <crops date="2014-02-09T11:37:13" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="633" y2="950" width="399" height="600" url="/media/1036/beautiful-blonde-in-veil-11_h600.jpg" newurl="/media/1036/2eade0ea38768f0f9223da01628b1376_HASHEDCROP.jpg" />
          </crops>
        </picture04Cropped>
        <picture05Cropped><![CDATA[]]></picture05Cropped>
        <picture06Cropped><![CDATA[]]></picture06Cropped>
        <picture07Cropped><![CDATA[]]></picture07Cropped>
      </item>
      <item id="1128" parentID="1102" level="3" creatorID="0" sortOrder="6" createDate="2014-02-09T18:39:43" updateDate="2014-02-09T21:06:27" nodeName="Beautiful brunette" urlName="beautiful-brunette" path="-1,1101,1102,1128" isDoc="" nodeType="1098" creatorName="Trang NNK" writerName="Trang NNK" writerID="0" template="1120" nodeTypeAlias="item">
        <category />
        <image>/media/1037/beautiful-brunette-22.jpg</image>
        <picture01>/media/1038/beautiful-brunette2.jpg</picture01>
        <picture02>/media/1039/beautiful-brunette-12.jpg</picture02>
        <picture03>/media/1040/beautiful-brunette-22.jpg</picture03>
        <picture04>/media/1041/beautiful-brunettesa.jpg</picture04>
        <picture05>/media/1042/girl-with-blue-manicure.jpg</picture05>
        <picture06 />
        <picture07 />
        <tags><![CDATA[]]></tags>
        <content><![CDATA[<p><span>Vivamus lacinia vulputate nulla, ac rutrum arcu aliquet at. Maecenas hendrerit arcu vitae nunc ornare quis lacinia nulla varius. Proin dapibus, metus ut cursus lobortis, risus nibh placerat justo, sed interdum turpis nunc eget nibh. Phasellus laoreet dui tempus tortor tempus tempor.</span></p>]]></content>
        <imageCropped>
          <crops date="2014-02-09T11:40:10" ignoreICC="false">
            <crop name="w290" x="0" y="0" x2="950" y2="813" width="290" height="248" url="/media/1037/beautiful-brunette-22_w290.jpg" newurl="/media/1037/e6bae8daa9c1c82953910df3c6e21280_HASHEDCROP.jpg" />
          </crops>
        </imageCropped>
        <picture01Cropped>
          <crops date="2014-02-09T11:40:10" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="711" y2="746" width="571" height="600" url="/media/1038/beautiful-brunette2_h600.jpg" newurl="/media/1038/d9130cd2b932f978c980cbe5babfc6c2_HASHEDCROP.jpg" />
          </crops>
        </picture01Cropped>
        <picture02Cropped>
          <crops date="2014-02-09T11:40:10" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="633" width="900" height="600" url="/media/1039/beautiful-brunette-12_h600.jpg" newurl="/media/1039/50c0c64203926461676d347c8fad2aff_HASHEDCROP.jpg" />
          </crops>
        </picture02Cropped>
        <picture03Cropped>
          <crops date="2014-02-09T11:40:10" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="813" width="701" height="600" url="/media/1040/beautiful-brunette-22_h600.jpg" newurl="/media/1040/dfc2e2f8cce63d8ec5c646d00b3c21be_HASHEDCROP.jpg" />
          </crops>
        </picture03Cropped>
        <picture04Cropped>
          <crops date="2014-02-09T11:40:10" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="635" y2="944" width="403" height="600" url="/media/1041/beautiful-brunettesa_h600.jpg" newurl="/media/1041/5eabcbc083454de12bf4c5a7a2f44bf7_HASHEDCROP.jpg" />
          </crops>
        </picture04Cropped>
        <picture05Cropped>
          <crops date="2014-02-09T11:40:10" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="948" y2="632" width="900" height="600" url="/media/1042/girl-with-blue-manicure_h600.jpg" newurl="/media/1042/018b1c71b39d4b2eb0f575375968cc73_HASHEDCROP.jpg" />
          </crops>
        </picture05Cropped>
        <picture06Cropped><![CDATA[]]></picture06Cropped>
        <picture07Cropped><![CDATA[]]></picture07Cropped>
        <peeked>2</peeked>
        <viewed />
      </item>
      <item id="1129" parentID="1102" level="3" creatorID="0" sortOrder="7" createDate="2014-02-09T18:43:10" updateDate="2014-02-09T18:43:52" nodeName="Adipiscing elit" urlName="adipiscing-elit" path="-1,1101,1102,1129" isDoc="" nodeType="1098" creatorName="Trang NNK" writerName="Trang NNK" writerID="0" template="1120" nodeTypeAlias="item">
        <category />
        <image>/media/1043/retro-woman-1-.jpg</image>
        <picture01>/media/1044/retro-woman1.jpg</picture01>
        <picture02>/media/1045/retro-woman-21.jpg</picture02>
        <picture03>/media/1046/retro-woman-3s1.jpg</picture03>
        <picture04>/media/1047/retro-woman-1-.jpg</picture04>
        <picture05>/media/1048/retro-woman-31.jpg</picture05>
        <picture06>/media/1049/retro-woman-41.jpg</picture06>
        <picture07 />
        <tags><![CDATA[]]></tags>
        <content><![CDATA[<p><span>Integer semper, leo in molestie pellentesque, purus sapien gravida libero, luctus fringilla massa ligula vitae velit. Proin at dui sagittis dui tincidunt ullamcorper. Sed lobortis enim nec odio dignissim condimentum. Nullam purus urna, interdum nec mollis sed, pulvinar nec felis.</span></p>]]></content>
        <imageCropped>
          <crops date="2014-02-09T11:43:50" ignoreICC="false">
            <crop name="w290" x="0" y="0" x2="948" y2="632" width="290" height="193" url="/media/1043/retro-woman-1-_w290.jpg" newurl="/media/1043/a2e2bf0929ca517f3b73dee43ed92ada_HASHEDCROP.jpg" />
          </crops>
        </imageCropped>
        <picture01Cropped>
          <crops date="2014-02-09T11:43:50" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="894" y2="670" width="800" height="600" url="/media/1044/retro-woman1_h600.jpg" newurl="/media/1044/37bc3b01f476c15bd5161ec016013d3c_HASHEDCROP.jpg" />
          </crops>
        </picture01Cropped>
        <picture02Cropped>
          <crops date="2014-02-09T11:43:50" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="948" y2="632" width="900" height="600" url="/media/1045/retro-woman-21_h600.jpg" newurl="/media/1045/b6edf4fe61b806b077c54fb210d34f7b_HASHEDCROP.jpg" />
          </crops>
        </picture02Cropped>
        <picture03Cropped>
          <crops date="2014-02-09T11:43:50" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="801" width="711" height="600" url="/media/1046/retro-woman-3s1_h600.jpg" newurl="/media/1046/ea5b438a8ee8bba52fb35fe4564c3e14_HASHEDCROP.jpg" />
          </crops>
        </picture03Cropped>
        <picture04Cropped>
          <crops date="2014-02-09T11:43:50" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="948" y2="632" width="900" height="600" url="/media/1047/retro-woman-1-_h600.jpg" newurl="/media/1047/e3dcf5d002a30df82de63f9a02f4b3ef_HASHEDCROP.jpg" />
          </crops>
        </picture04Cropped>
        <picture05Cropped>
          <crops date="2014-02-09T11:43:50" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="634" y2="950" width="400" height="600" url="/media/1048/retro-woman-31_h600.jpg" newurl="/media/1048/095c4ebe216360eb2859b35613a2b5a3_HASHEDCROP.jpg" />
          </crops>
        </picture05Cropped>
        <picture06Cropped>
          <crops date="2014-02-09T11:43:50" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="775" y2="775" width="600" height="600" url="/media/1049/retro-woman-41_h600.jpg" newurl="/media/1049/cb7fb19c76af1c3102ddc896bfd2e195_HASHEDCROP.jpg" />
          </crops>
        </picture06Cropped>
        <picture07Cropped><![CDATA[]]></picture07Cropped>
      </item>
      <item id="1130" parentID="1102" level="3" creatorID="0" sortOrder="8" createDate="2014-02-09T19:34:00" updateDate="2014-02-10T14:57:03" nodeName="Creative model" urlName="creative-model" path="-1,1101,1102,1130" isDoc="" nodeType="1098" creatorName="Trang NNK" writerName="Trang NNK" writerID="0" template="1120" nodeTypeAlias="item">
        <category />
        <image>/media/1050/girl-with-creative-hairdo-3-2.jpg</image>
        <picture01>/media/1051/beautiful-brunette22.jpg</picture01>
        <picture02>/media/1052/girl-with-blue-manicure22.jpg</picture02>
        <picture03>/media/1053/girl-with-blue-manicure-22.jpg</picture03>
        <picture04>/media/1054/girl-with-creative-hairdo-3-2.jpg</picture04>
        <picture05>/media/1055/girl-with-creative-hairdo22.jpg</picture05>
        <picture06>/media/1056/girl-with-creative-hairdo-42.jpg</picture06>
        <picture07>/media/1057/girl-with-creative-hairdo-52.jpg</picture07>
        <tags><![CDATA[]]></tags>
        <content><![CDATA[<p><span>Proin pellentesque, diam non posuere ultricies, justo est luctus odio, quis elementum ligula libero vitae arcu. Ut porta commodo scelerisque. Sed vestibulum egestas purus eu sollicitudin. Mauris nibh arcu, malesuada id dignissim nec, volutpat sit amet massa. Integer a dolor feli.</span></p>]]></content>
        <imageCropped>
          <crops date="2014-02-09T12:34:34" ignoreICC="false">
            <crop name="w290" x="0" y="0" x2="949" y2="949" width="290" height="290" url="/media/1050/girl-with-creative-hairdo-3-2_w290.jpg" newurl="/media/1050/0030ca7cfb325494662c3931f34877a0_HASHEDCROP.jpg" />
          </crops>
        </imageCropped>
        <picture01Cropped>
          <crops date="2014-02-09T12:34:34" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="634" y2="943" width="403" height="600" url="/media/1051/beautiful-brunette22_h600.jpg" newurl="/media/1051/af7cade2ac4e035bcbebf9211b4ddf49_HASHEDCROP.jpg" />
          </crops>
        </picture01Cropped>
        <picture02Cropped>
          <crops date="2014-02-09T12:34:34" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="633" width="900" height="600" url="/media/1052/girl-with-blue-manicure22_h600.jpg" newurl="/media/1052/f5a62049fd310fefe9f3afba9f0e9313_HASHEDCROP.jpg" />
          </crops>
        </picture02Cropped>
        <picture03Cropped>
          <crops date="2014-02-09T12:34:34" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="640" width="890" height="600" url="/media/1053/girl-with-blue-manicure-22_h600.jpg" newurl="/media/1053/fd947d198cc5b5c1817bb90686e332c5_HASHEDCROP.jpg" />
          </crops>
        </picture03Cropped>
        <picture04Cropped>
          <crops date="2014-02-09T12:34:34" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="950" width="600" height="600" url="/media/1054/girl-with-creative-hairdo-3-2_h600.jpg" newurl="/media/1054/a8c9bd63ca4451ed57f4b05cb52bdbf7_HASHEDCROP.jpg" />
          </crops>
        </picture04Cropped>
        <picture05Cropped>
          <crops date="2014-02-09T12:34:34" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="634" y2="950" width="400" height="600" url="/media/1055/girl-with-creative-hairdo22_h600.jpg" newurl="/media/1055/59da26f541e253a47194aa5f62de1139_HASHEDCROP.jpg" />
          </crops>
        </picture05Cropped>
        <picture06Cropped>
          <crops date="2014-02-09T12:34:34" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="634" y2="950" width="400" height="600" url="/media/1056/girl-with-creative-hairdo-42_h600.jpg" newurl="/media/1056/9fec85c05f81b1392777d3a90355b687_HASHEDCROP.jpg" />
          </crops>
        </picture06Cropped>
        <picture07Cropped>
          <crops date="2014-02-09T12:34:34" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="714" y2="840" width="510" height="600" url="/media/1057/girl-with-creative-hairdo-52_h600.jpg" newurl="/media/1057/5ef2111432c192c392511ac1f542d5de_HASHEDCROP.jpg" />
          </crops>
        </picture07Cropped>
        <peeked>24</peeked>
        <viewed />
      </item>
      <item id="1131" parentID="1102" level="3" creatorID="0" sortOrder="9" createDate="2014-02-09T19:40:27" updateDate="2014-02-10T00:26:05" nodeName="On a city street" urlName="on-a-city-street" path="-1,1101,1102,1131" isDoc="" nodeType="1098" creatorName="Trang NNK" writerName="Trang NNK" writerID="0" template="1120" nodeTypeAlias="item">
        <category />
        <image>/media/1058/two-young-women-on-a-city-street-1-.jpg</image>
        <picture01>/media/1059/beautiful-woman-on-a-city-street.jpg</picture01>
        <picture02>/media/1060/two-young-women-on-a-city-street-1-.jpg</picture02>
        <picture03>/media/1061/two-young-women-on-a-city-street.jpg</picture03>
        <picture04>/media/1062/young-businesswomen-with-a-folder.jpg</picture04>
        <picture05 />
        <picture06 />
        <picture07 />
        <tags><![CDATA[]]></tags>
        <content><![CDATA[<p><span>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis vulputate mattis porttitor. Nullam sit amet orci magna, ac blandit sapien. Morbi ut elit risus, at cursus felis.</span></p>]]></content>
        <imageCropped>
          <crops date="2014-02-09T12:40:55" ignoreICC="false">
            <crop name="w290" x="64" y="0" x2="913" y2="632" width="290" height="215" url="/media/1058/two-young-women-on-a-city-street-1-_w290.jpg" newurl="/media/1058/178bbe614c4982bea2921fa71cc04299_HASHEDCROP.jpg" />
          </crops>
        </imageCropped>
        <picture01Cropped>
          <crops date="2014-02-09T12:40:55" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="948" y2="632" width="900" height="600" url="/media/1059/beautiful-woman-on-a-city-street_h600.jpg" newurl="/media/1059/47832e7025b17bd58d940376913862f4_HASHEDCROP.jpg" />
          </crops>
        </picture01Cropped>
        <picture02Cropped>
          <crops date="2014-02-09T12:40:55" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="948" y2="632" width="900" height="600" url="/media/1060/two-young-women-on-a-city-street-1-_h600.jpg" newurl="/media/1060/952b209a15ae290dcdc668cc4e68e552_HASHEDCROP.jpg" />
          </crops>
        </picture02Cropped>
        <picture03Cropped>
          <crops date="2014-02-09T12:40:55" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="948" y2="632" width="900" height="600" url="/media/1061/two-young-women-on-a-city-street_h600.jpg" newurl="/media/1061/cef8e47de2fc737924133a2dbed1a82b_HASHEDCROP.jpg" />
          </crops>
        </picture03Cropped>
        <picture04Cropped>
          <crops date="2014-02-09T12:40:55" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="948" y2="632" width="900" height="600" url="/media/1062/young-businesswomen-with-a-folder_h600.jpg" newurl="/media/1062/a02d0ab34b83206b77f0ae67647008aa_HASHEDCROP.jpg" />
          </crops>
        </picture04Cropped>
        <picture05Cropped><![CDATA[]]></picture05Cropped>
        <picture06Cropped><![CDATA[]]></picture06Cropped>
        <picture07Cropped><![CDATA[]]></picture07Cropped>
        <peeked>9</peeked>
        <viewed />
      </item>
      <item id="1132" parentID="1102" level="3" creatorID="0" sortOrder="10" createDate="2014-02-09T19:44:58" updateDate="2014-02-10T15:09:02" nodeName="Girl with streaming hair" urlName="girl-with-streaming-hair" path="-1,1101,1102,1132" isDoc="" nodeType="1098" creatorName="Trang NNK" writerName="Trang NNK" writerID="0" template="1120" nodeTypeAlias="item">
        <category />
        <image>/media/1063/1322064464girl-with-streaming-hair.jpg</image>
        <picture01>/media/1064/glamorous-style1.jpg</picture01>
        <picture02>/media/1065/glamorous-stylea1.jpg</picture02>
        <picture03>/media/1066/1322064464girl-with-streaming-hair.jpg</picture03>
        <picture04>/media/1067/rockers-girlfriend1.jpg</picture04>
        <picture05>/media/1068/rock-style1.jpg</picture05>
        <picture06 />
        <picture07 />
        <tags><![CDATA[]]></tags>
        <content><![CDATA[<p><span>Ut sed quam sit amet urna posuere mollis in porttitor tortor. Sed risus justo, vestibulum id semper ac, ultricies et magna. Donec ac enim eget purus cursus porta eget eget leo. Proin rutrum tincidunt ligula ac consequat. Aliquam erat volutpat. Phasellus diam mauris, varius eget fringilla vitae, ornare id velit.</span></p>]]></content>
        <imageCropped>
          <crops date="2014-02-09T12:45:24" ignoreICC="false">
            <crop name="w290" x="0" y="0" x2="950" y2="634" width="290" height="193" url="/media/1063/1322064464girl-with-streaming-hair_w290.jpg" newurl="/media/1063/0109c2e357d9309dba8b10ef642ebf64_HASHEDCROP.jpg" />
          </crops>
        </imageCropped>
        <picture01Cropped>
          <crops date="2014-02-09T12:45:24" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="632" y2="948" width="400" height="600" url="/media/1064/glamorous-style1_h600.jpg" newurl="/media/1064/4248e436f13b9dfa0e8cf710173a9063_HASHEDCROP.jpg" />
          </crops>
        </picture01Cropped>
        <picture02Cropped>
          <crops date="2014-02-09T12:45:24" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="712" width="800" height="600" url="/media/1065/glamorous-stylea1_h600.jpg" newurl="/media/1065/3bc6a4dccf65f0ef8a938e40f8aafd8f_HASHEDCROP.jpg" />
          </crops>
        </picture02Cropped>
        <picture03Cropped>
          <crops date="2014-02-09T12:45:24" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="634" width="899" height="600" url="/media/1066/1322064464girl-with-streaming-hair_h600.jpg" newurl="/media/1066/ee82ad4a816d97fe2ac37c82250faf3d_HASHEDCROP.jpg" />
          </crops>
        </picture03Cropped>
        <picture04Cropped>
          <crops date="2014-02-09T12:45:24" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="865" y2="950" width="546" height="600" url="/media/1067/rockers-girlfriend1_h600.jpg" newurl="/media/1067/a70514bfe1975c6ece4f0e5e8d30626f_HASHEDCROP.jpg" />
          </crops>
        </picture04Cropped>
        <picture05Cropped>
          <crops date="2014-02-09T12:45:24" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="634" y2="950" width="400" height="600" url="/media/1068/rock-style1_h600.jpg" newurl="/media/1068/1149d920ae2597e6ef1b95f112b30119_HASHEDCROP.jpg" />
          </crops>
        </picture05Cropped>
        <picture06Cropped><![CDATA[]]></picture06Cropped>
        <picture07Cropped><![CDATA[]]></picture07Cropped>
        <peeked>1</peeked>
        <viewed />
      </item>
      <item id="1133" parentID="1102" level="3" creatorID="0" sortOrder="11" createDate="2014-02-09T19:47:48" updateDate="2014-02-10T14:53:33" nodeName="Glamorous" urlName="glamorous" path="-1,1101,1102,1133" isDoc="" nodeType="1098" creatorName="Trang NNK" writerName="Trang NNK" writerID="0" template="1120" nodeTypeAlias="item">
        <category />
        <image>/media/1069/glamorous2.jpg</image>
        <picture01>/media/1070/femininity1.jpg</picture01>
        <picture02>/media/1071/femininity2.jpg</picture02>
        <picture03>/media/1072/glamorous2.jpg</picture03>
        <picture04>/media/1073/hat-and-dress1.jpg</picture04>
        <picture05>/media/1074/hot-young-lady-posing-confidentlys1.jpg</picture05>
        <picture06>/media/1075/portait-of-glamorous-young-female-model21.jpg</picture06>
        <picture07>/media/1076/portrait-of-pretty-young-female-in-sunglasses22.jpg</picture07>
        <tags><![CDATA[]]></tags>
        <content><![CDATA[<p><span>Praesent leo nisl, viverra et elementum a, elementum ut eros. Cras malesuada, lorem non blandit pulvinar, arcu quam cursus sapien, eu luctus dolor nisi a sem. Nulla fringilla adipiscing leo, vitae euismod eros vestibulum in. Pellentesque et tempus dui. Fusce orci neque, aliquam nec mattis vel, suscipit in neque.</span></p>]]></content>
        <imageCropped>
          <crops date="2014-02-09T12:48:13" ignoreICC="false">
            <crop name="w290" x="0" y="0" x2="950" y2="769" width="290" height="234" url="/media/1069/glamorous2_w290.jpg" newurl="/media/1069/52008127ab0547a557c97adb67a4b216_HASHEDCROP.jpg" />
          </crops>
        </imageCropped>
        <picture01Cropped>
          <crops date="2014-02-09T12:48:13" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="702" width="811" height="600" url="/media/1070/femininity1_h600.jpg" newurl="/media/1070/69d81e4220112f65826b40963a29ac82_HASHEDCROP.jpg" />
          </crops>
        </picture01Cropped>
        <picture02Cropped>
          <crops date="2014-02-09T12:48:14" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="900" width="633" height="600" url="/media/1071/femininity2_h600.jpg" newurl="/media/1071/545405b1c340c6a9708b1b4f8a498d69_HASHEDCROP.jpg" />
          </crops>
        </picture02Cropped>
        <picture03Cropped>
          <crops date="2014-02-09T12:48:14" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="769" width="741" height="600" url="/media/1072/glamorous2_h600.jpg" newurl="/media/1072/978a8c852b08e4bc80bc2fb2bed853cb_HASHEDCROP.jpg" />
          </crops>
        </picture03Cropped>
        <picture04Cropped>
          <crops date="2014-02-09T12:48:14" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="821" y2="950" width="518" height="600" url="/media/1073/hat-and-dress1_h600.jpg" newurl="/media/1073/e1661ac815b24017f663cf070fa849a1_HASHEDCROP.jpg" />
          </crops>
        </picture04Cropped>
        <picture05Cropped>
          <crops date="2014-02-09T12:48:14" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="759" width="750" height="600" url="/media/1074/hot-young-lady-posing-confidentlys1_h600.jpg" newurl="/media/1074/4bdbbc1766193ee9c1c5a22cdcd521f9_HASHEDCROP.jpg" />
          </crops>
        </picture05Cropped>
        <picture06Cropped>
          <crops date="2014-02-09T12:48:14" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="632" y2="626" width="605" height="600" url="/media/1075/portait-of-glamorous-young-female-model21_h600.jpg" newurl="/media/1075/b6b5e8941bd2c7c29c4e7f80a0ff8b0f_HASHEDCROP.jpg" />
          </crops>
        </picture06Cropped>
        <picture07Cropped>
          <crops date="2014-02-09T12:48:14" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="1319" y2="950" width="833" height="600" url="/media/1076/portrait-of-pretty-young-female-in-sunglasses22_h600.jpg" newurl="/media/1076/d0562bfeb808714b91403bac88a49ca7_HASHEDCROP.jpg" />
          </crops>
        </picture07Cropped>
        <peeked>18</peeked>
        <viewed />
      </item>
      <item id="1134" parentID="1102" level="3" creatorID="0" sortOrder="12" createDate="2014-02-09T19:50:18" updateDate="2014-02-10T00:13:36" nodeName="Black and White" urlName="black-and-white" path="-1,1101,1102,1134" isDoc="" nodeType="1098" creatorName="Trang NNK" writerName="Trang NNK" writerID="0" template="1120" nodeTypeAlias="item">
        <category />
        <image>/media/1077/blond-boxing-woman-in-black-punching-bag.jpg</image>
        <picture01>/media/1078/1321964340fashion-woman-in-black-and-white.jpg</picture01>
        <picture02>/media/1079/beautiful-brunette.jpg</picture02>
        <picture03>/media/1080/beautiful-brunettesa1.jpg</picture03>
        <picture04>/media/1081/blond-boxing-woman-in-black-punching-bag.jpg</picture04>
        <picture05>/media/1082/perfect-pose.jpg</picture05>
        <picture06>/media/1083/portrait-of-woman.jpg</picture06>
        <picture07>/media/1084/sexy-young-female-fashion-model-posingb.jpg</picture07>
        <tags><![CDATA[]]></tags>
        <content><![CDATA[<p><span>Nulla malesuada, nulla et congue tincidunt, est lorem viverra odio, in sollicitudin nibh nunc feugiat enim. Ut in turpis lectus, sed egestas orci. Pellentesque non enim felis. Suspendisse potenti. Duis in erat velit, a eleifend odio. Pellentesque tincidunt posuere ligula, quis lacinia mi gravida sit amet.</span></p>]]></content>
        <imageCropped>
          <crops date="2014-02-09T12:50:57" ignoreICC="false">
            <crop name="w290" x="0" y="0" x2="950" y2="633" width="290" height="193" url="/media/1077/blond-boxing-woman-in-black-punching-bag_w290.jpg" newurl="/media/1077/588bad81bfe5378c798cba4be74ff9cc_HASHEDCROP.jpg" />
          </crops>
        </imageCropped>
        <picture01Cropped>
          <crops date="2014-02-09T12:50:57" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="1980" y2="1321" width="899" height="600" url="/media/1078/1321964340fashion-woman-in-black-and-white_h600.jpg" newurl="/media/1078/66664eaf6664e98a70e427df4746c444_HASHEDCROP.jpg" />
          </crops>
        </picture01Cropped>
        <picture02Cropped>
          <crops date="2014-02-09T12:50:57" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="1409" y2="1882" width="449" height="600" url="/media/1079/beautiful-brunette_h600.jpg" newurl="/media/1079/a32f4d0629e575ea88efdc109447561c_HASHEDCROP.jpg" />
          </crops>
        </picture02Cropped>
        <picture03Cropped>
          <crops date="2014-02-09T12:50:57" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="635" y2="944" width="403" height="600" url="/media/1080/beautiful-brunettesa1_h600.jpg" newurl="/media/1080/6f9a0da68b69570f6877afe7fd8aacd5_HASHEDCROP.jpg" />
          </crops>
        </picture03Cropped>
        <picture04Cropped>
          <crops date="2014-02-09T12:50:57" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="633" width="900" height="600" url="/media/1081/blond-boxing-woman-in-black-punching-bag_h600.jpg" newurl="/media/1081/6a86e4e5f6621e92ee7c6cd769c5bcae_HASHEDCROP.jpg" />
          </crops>
        </picture04Cropped>
        <picture05Cropped>
          <crops date="2014-02-09T12:50:57" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="1368" y2="873" width="940" height="600" url="/media/1082/perfect-pose_h600.jpg" newurl="/media/1082/26e0c5309321f895bd7a1f8027fc89fc_HASHEDCROP.jpg" />
          </crops>
        </picture05Cropped>
        <picture06Cropped>
          <crops date="2014-02-09T12:50:59" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="1280" y2="854" width="899" height="600" url="/media/1083/portrait-of-woman_h600.jpg" newurl="/media/1083/9abde1b4e29769912e59759d99b4c1c2_HASHEDCROP.jpg" />
          </crops>
        </picture06Cropped>
        <picture07Cropped>
          <crops date="2014-02-09T12:50:59" ignoreICC="false">
            <crop name="h600" x="0" y="0" x2="950" y2="713" width="799" height="600" url="/media/1084/sexy-young-female-fashion-model-posingb_h600.jpg" newurl="/media/1084/46cdaf0ec63c22290fcb6c47bb8b8913_HASHEDCROP.jpg" />
          </crops>
        </picture07Cropped>
        <peeked>18</peeked>
        <viewed />
      </item>
    </Common>
  </Home>
  <Contact id="1137" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2014-02-09T22:31:08" updateDate="2014-02-09T22:31:13" nodeName="Contact" urlName="contact" path="-1,1137" isDoc="" nodeType="1136" creatorName="Trang NNK" writerName="Trang NNK" writerID="0" template="1135" nodeTypeAlias="Contact">
    <title />
    <description><![CDATA[]]></description>
    <kewords><![CDATA[]]></kewords>
  </Contact>
</root>