@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Frontend.cshtml";
}

<div id="full-content-container" class="layout-grid-full">
    <div id="grid-full-width">
        This is contact page!!!
    </div>
    <!-- end main content holder (#content/#full-width) -->
    <div class="clear"></div>
</div>
<!-- end #content-container -->