@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Frontend.cshtml";
}

<div id="full-content-container" class="layout-grid-full">
    @Html.Partial("Frontend/_GridFullWidth")
</div>
<!-- end #content-container -->
